*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :start .wrapper  */
.wrapper
{
    width: 100%;
}
/* / /end .wrapper  */

/* header */
.header
{
    width: 100%;
}
/* end header */

/* start header nav */
.header .nav
{
    width: 90%;
    margin: auto;
    padding: 10px 0;
}
/* end header nav */

/* start .header .nav .brand, */
/* .header .nav .menubar   */

.header .nav .brand,
.header .nav .menubar
{
    display: inline-block;
    vertical-align: middle;
}

/* end .header .nav .brand, */
/* .header .nav .menubar   */

/* start .header .nav .brand, */
.header .nav .brand
{
    width: 19%;
    text-align: left;
    color:  #000000;
}
/* end .header .nav .brand, */

/* start .header .nav .menubar*/
.header .nav .menubar
{
    width: 80%;
    text-align: right;
}
/* end .header .nav .menubar   */

/* start .header .nav .menubar .menu*/
.header .nav .menubar .menu
{
    list-style: none;
    text-align: right;
}
/* /* end .header .nav .menubar .menu  */

 /* :start.header .nav .menubar .menu .menu-item */
.header .nav .menubar .menu .menu-item
{
    display: inline-block;
}
 /* :end .header .nav .menubar .menu .menu-item */

 /* start .header .nav .menubar .menu .menu-item .menu-link */
.header .nav .menubar .menu .menu-item .menu-link
{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    color: #000000;
}
/* end .header .nav .menubar .menu .menu-item .menu-link */

/* :start .nav .menubar .menu .menu-item .menu-link:hover */
.nav .menubar .menu .menu-item .menu-link:hover
{
    background-color: #bebcbc;
}